.music-search {
	position: relative;
	height: 100vh;
    left: 16%
}
.music-search__input {
	width: 10%;
	border: 3px solid #6509ce;
	background: none;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #E6E6FA;
}
.music-search__list{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 90vw;
}
.music-search__btn{
	padding: .7rem;
	background-color: #6509ce;
	color: #E6E6FA;
	border: none;
	transition: all ease-in-out .2s;
}
.music-search__btn:hover{
	cursor: pointer;
	background-color: #7e11fc;
}
.music-search__title{
	color: #E6E6FA;
	font-size: .8vw;
}